<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap" rel="stylesheet">


<link href="/css/catalog.css" rel="stylesheet">

<h1>Aboout the Developer</h1>


<p>Name: Marian Young<br>
Location: Colorado Springs, CO<br>
LinkedIn: <a href="linkedin.com/in/marian-young-92423217">linkedin.com/in/marian-young-92423217</a></p>