@{
    ViewData["Title"] = "Home Page";
}


<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap" rel="stylesheet">


<link href="/css/catalog.css" rel="stylesheet">

<div class="text-center">
    <h1 class="display-4">Tempo Wheels</h1>
    
</div>
