@{
    ViewData["Title"] = "Privacy Policy";
}

<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap" rel="stylesheet">


<link href="/css/catalog.css" rel="stylesheet">

<h1>@ViewData["Title"]</h1>



<p>Use this page to detail your site's privacy policy.</p>
